#itemImage {
	height: 200px;
	width: 150px;
	margin-left: 100px;
	margin-top: 30px;
	padding-left: 100px;
	padding-top: 30px;
}

#productImage {
	height: 380px;
	width: 550px;
}

#kart {
	padding-left: 100px;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.carousel-item{
    height: 300px;
}
.carousel-item img{
    height: 300px;
}

.display {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#addToCart {
	padding-left: 50px;
}

.card {
	padding-top: 20px;
	padding-bottom: 20px;
}

table {
	border-spacing: 20px;
}

.please {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#productName {
	text-align: center;
	font-weight: bold;
}

#productPrice {
	text-align: center;
}
